*{
    margin: 0;
    padding: 0;
}

.footerContainer{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footerContainer img{

    height: 6vh;

}